.Main{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 100%;
    position: sticky;
    top: 0rem;
    z-index: 9;
    background-color: white;
}

.LeftSide{
    display: flex;
}

.firstIcon{
    width: fit-content;
    height: fit-content;
    /* border: 1px solid; */
}

.SecondPart{
    display: flex;
    flex-direction: column;
}

.SecondUpper{
    display: flex;
    align-items: center;
    justify-content: start;
    /* border: 1px solid; */
    gap: 1.2rem;
    height: 50%;

}

.SecondLower{
    display: flex;
    /* gap: 0.3rem; */
}

.LeftSide{
    /* border: 2px solid red; */
    display: flex;
    gap: 1.3rem;
    justify-content: space-around;
    position: relative;
    left: 2rem;
    /* width: 20%; */
}

.RightSide{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    position: relative;
    right: 2rem;
    /* border: 1px solid rebeccapurple; */
    /* position: relative; */
    /* right: 2.3rem; */
}